body{
    background-color: #202225;
    color: white;
    font-family: 'Rubik';
    margin-left: 20px;
    margin-top: 10px;
}
.header{
    width: 100%;
    height: 50px;
    background-color: #181818;
    left: 0;
    top: 0;
    position: fixed;
    padding: 10px;
    line-height: 0;
    display: inline-block;
}
.header #icon{
    width: 48px;
    border-radius: 100%;
    border: 2px solid #0070FA;
    user-select: none;
}
.header .link{
    top: -40%;
    position: relative;
    margin: auto;
    margin-left: 25px;
    font-size: 20px;
    display: inline-block;
}
a{
    text-decoration: none;
    color: white;
    transition: 0.2s ease;
    user-select: none;
}
a:hover{
    color: #eee;
}
a:active{
    color: #ddd;
}
a:visited{
    color: white
}

::selection{
    background-color: #0070FA;
    color: #f2f2f2;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #0070FA;
    height: 150px;
}

.main{
    width: 100%;
    text-align: center;
    margin-top: 15%;
}
.main h1{
    font-size: 50px;
    color: #0070FA;
}
.main p, span{
    font-size: 20px;
}
.main #desc{
    margin-top: -15px;
}

.buttons{
    width: 100%;
    text-align: center;
    margin-top: 35px;
    display: flex;
    user-select: none;
    justify-content: center;
}
.buttons a{
    font-size: 20px;
    background-color: #2D3745;
    margin: 15px;
    padding: 15px;
    width: 350px;
    min-width: 150px;
}
.buttons a:hover{
    background-color: #394a61;
}
.buttons a:active{
    background-color: #3d526e;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 20px;
}

.footer .links{
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 15px;
}

.footer .links a{
    margin-right: 10px;
    margin-bottom: 10px;
    bottom: 10px;
    position: relative;
}

.footer p{
    margin-left: 20px;
    margin-top: 10px;
}

.servers{
    width: 100%;
    text-align: center;
    margin-top: 55px;
    display: flex;
    user-select: none;
    justify-content: center;
}

.servers span{
    font-size: 20px;
    background-color: #2D3745;
    margin: 35px;
    padding: 15px;
    width: 250px;
    min-width: 150px;
    cursor: default;
}

.terms{
    margin-top: 5%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}
.terms h1{
    color: #0070FA
}
.terms p{
    margin-top: -10px;
}
.terms h2{
    font-size: 25px;
}

.terms h3{
    font-size: 18px;
}

.terms ul{
    margin-top: -5px;
}
.terms .begin{
    margin-top: -5px;
}

.attention{
    color: #e74c3c;
}