body
{
    background-color: #f05a69;
    font-size: 14pt;
    color: white;
    padding-left: 20px;
    transition: 2s ease-in-out;
    z-index: 0;
    font-family: 'Gotham Pro';
}

h1
{
    font-size: 60pt;
}
#sorry
{
    transition: 0.5s ease-out;
    font-size: 40px;
    cursor: pointer;
}
#sorry:hover
{
    font-size: 38px;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('/gotham.ttf') format('truetype'),
    url('/gotham.woff') format('woff'),
    url('/gotham.woff2') format('woff2');
}